body{
    background: #ddd;
    text-align: center;
    font-family: sans-serif;
    color: rgb(40, 66, 66);
}

#container{
    display: inline-block;
    justify-content: center;
    width: 60%;
    padding: 20px 0;
    box-sizing: border-box;
    background: lightseagreen;
    border: 3px solid steelblue;
}

article{
    text-align: left;
}

.lista{
    text-align: start;
}