body{
    background: #ddd;
    font-family: sans-serif;
    color: rgb(40, 66, 66);
}

#container{
    
    text-align: center;
   
}

#post{
    display: inline-block;
    width: 60%;
    padding: 20px 0;
    box-sizing: border-box;
    background: lightseagreen;
    border: 3px solid steelblue;
}

.article{
    text-align: left;
}

#listaDeElementos{
    display: inline-block;
    
}

#listaPrincipal{
    display: inline-block;
    margin: 0 70px
}