body{
    background: #888;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(40, 66, 66);
}

#container{
    display: inline-block;
    justify-content: center;
    width: 60%;
    padding: 20px 0;
    box-sizing: border-box;
    background: lightseagreen;
    border: 3px solid steelblue;
    border-radius: 50%;
}

article{
    text-align: left;
}